@model Webbshop.Project.Core.Models.CheckoutViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Info plz</h2>

@using (Html.BeginForm())
{
    <br />
    <br />
    <button type="submit">Place order</button>
}