@model List<Webbshop.Project.Core.Models.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}

<h2>Products</h2>
@foreach (var Product in Model)
{
    Html.RenderPartial("Stone", Product);
}