@model List<Webbshop.Project.Core.Models.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}

<h2>STONES</h2>
@foreach (var Product in Model)
{
<div>
    @using (Html.BeginForm("AddToCart", "product", new { id = Product.Id }, FormMethod.Post))
    {
        <input type="submit" value="Purchase @(Product.Product)">
    }
</div>
    @Product.Product 
    <br/>
    @Product.Price
    <br/>
    <img src="~/images/@Product.Picture"/>

}