@model List<Webbshop.Project.Core.Models.CartViewModel>
@{
    ViewData["Title"] = "Index";
}

<h2>Your Cart</h2>
@foreach (var Product in Model)
{
    <a href="/Checkout">Checkout</a>
    @Product.Name
    <br />
    @Product.Picture
}

<a asp-area="" asp-controller="Checkout" asp-action="Index">Continue to checkout</a>