@model List<Webbshop.Project.Core.Models.CartViewModel>
@{
    ViewData["Title"] = "Index";
}

<h2>Your Cart</h2>
@foreach (var Product in Model)
{
<div>
    @Product.Name
    <br />
    @Product.Price
    <br />
    <img src="~/images/@Product.Picture" />
</div>
}
<br/>


<a asp-area="" asp-controller="Checkout" asp-action="Index">Continue to checkout</a>