@model List<Webbshop.Project.Core.Models.ProductViewModel>

@{
    ViewData["Title"] = "Store Page";
}
<div class="hero">
    <h2 class="main-heading">Welcome to place between a rock and a hard place!</h2>
    <h3 class="main-heading">Hard stuff!</h3>
</div>
